*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.close-menu{
    display: none;
 }

 .sec1{
    width: 100%;
    height: auto;
 }
.espaco-menu{
    width: 100%;
    height: 80px;
    background: #c9c8c8;
}
.txtcont{
    position: relative;
    top: 0;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 50px;
    color: #fff;
    text-shadow: 0 0 10px #1b8d05;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d1d1d1;
    padding: 10px;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0 0 10px #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.menu ul{
    display: flex;
    margin: 0 60px 0 10px;
}
.menu ul li{
    display: flex;
    margin: 10px 20px;
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
    font-weight: 100;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.5s all;
    text-align: center;
}
.menu ul li:hover{
    background: rgb(119, 119, 119);
}
.menu a{
    display: flex;
    color: #000;
}
.menu ul li:hover a{
    color: #cfcfcf;
}
.img-logo img{
    width: 250px;
    height: auto;
}
.click-one{
    position: relative;
    width: 130px;
    height: 40px;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-right: 50px;
    background-color: rgb(19, 19, 19);
    color: #fff;
    overflow: hidden;
}
.click-one::before{
    content: "";
    position: absolute;
    right: -30px;
    width: 200px;
    height: 20px;
    background: linear-gradient(to left,#3de00b, #c2ffb3);
    animation: animete 3s linear infinite;
}
.click-one::after{
    content: "";
    position: absolute;
    background-color: rgb(19, 19, 19);
    inset: 3.6px;
    border-radius: 16px;
    transition: 0.5s all;
}

.click-one:hover::after{
    background: #fff;
}
@keyframes animete {
    100%{
        transform: rotate(360deg);
    }
}
.click-one a{
    display: flex;
    justify-content: center;
    position: relative;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 1;
}
.click-one:hover a{
    color: #000;
}
.container {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background: #929292;
}

.img-fundo {
    width: 50%;
    height: 750px;
    background-image: url(./img/ft-prato.png);
    background-size: cover;
}
.img-fundo h1{
    position: relative;
    top: 0;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 50px;
    color: #fff;
    text-shadow: 0 0 10px #1b8d05;
}
.img-fundo p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #fff;
    text-shadow: 0 0 10px #000;
}
.p1 p{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.f1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background: linear-gradient(to bottom, #cc6d2d, #47280e);
}
.img-fundo ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    margin: 30px 50px;
}
.img-fundo ul li{
    margin: 10px 0;
    font-weight: 700;
    text-shadow: 0 0 10px #000;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.componentes {
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Ajustes para alinhar os campos */
.text1, .text2, .selecao, .text4 {
    width: 48%;
    font-size: 15px;
    margin: 1rem 0;
    padding: 6px;
    border-radius: 10px;
    border: none;
    height: 35px;
    outline: none;
}
.text1:focus,
.text2:focus,
.text3:focus,
.text4:focus, 
.text5:focus,
.number:focus
{
    box-shadow: 0 0 10px #000;
}
.group2{
    margin-left: 100px;
}
.group3{
    margin-left: 120px;
}
.text3, .text5 {
    width: 75%;
    font-size: 15px;
    margin: 1.5rem 0;
    padding: 8px;
    border-radius: 10px;
    border: none;
    height: 40px;
    outline: none;

}
.selecao{
    height: 50px;
}
.number{
    width: 33%;
    padding: 7px;
    border-radius: 10px;
    border: none;
    height: 40px;
    outline: none;
}
.text6 {
    width: 90%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    height: 150px;
}
.text5{
    width: 75%;
}

.button {
    height: 50px;
    width: 200px;
    margin-top: 1rem;
    color: white;
    background-color: rgb(56, 118, 234);
    border-radius: 10px;
    margin-bottom: 30px;
}
#enviar{
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background: rgb(71, 179, 94);
    border: 3px solid rgb(71, 179, 94);
    transition: 0.5s all;
}
#enviar:hover{
    background: #fff;
    color: #000;
    border: 3px solid rgb(71, 179, 94);
    box-shadow: 0 0 10px rgb(71, 179, 94);
}
/* Ajustes para os inputs ficarem lado a lado */
.input-group {
    display: flex;
    width: 90%;
}

.input-group .text1,
.input-group .text2,
.input-group .selecao,
.input-group .text4,
.input-group .number {
    width: 30%;
    margin: 0 20px;
}

.input-full {
    width: 100%;
}


