*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.close-menu{
    display: none;
 }

 .sec1{
    width: 100%;
    height: auto;
 }
.espaco-menu{
    width: 100%;
    height: 80px;
    background: #c9c8c8;
}
.txtcont{
    position: relative;
    top: 0;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 50px;
    color: #fff;
    text-shadow: 0 0 10px #1b8d05;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d1d1d1;
    padding: 10px;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0 0 10px #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.menu ul{
    display: flex;
    margin: 0 60px 0 10px;
}
.menu ul li{
    display: flex;
    margin: 10px 20px;
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
    font-weight: 100;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.5s all;
    text-align: center;
}
.menu ul li:hover{
    background: rgb(119, 119, 119);
}
.menu a{
    display: flex;
    color: #000;
}
.menu ul li:hover a{
    color: #cfcfcf;
}
.img-logo img{
    width: 250px;
    height: auto;
}
.click-one{
    position: relative;
    width: 130px;
    height: 40px;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-right: 50px;
    background-color: rgb(19, 19, 19);
    color: #fff;
    overflow: hidden;
}
.click-one::before{
    content: "";
    position: absolute;
    right: -30px;
    width: 200px;
    height: 20px;
    background: linear-gradient(to left,#3de00b, #c2ffb3);
    animation: animete 3s linear infinite;
}
.click-one::after{
    content: "";
    position: absolute;
    background-color: rgb(19, 19, 19);
    inset: 3.6px;
    border-radius: 16px;
    transition: 0.5s all;
}

.click-one:hover::after{
    background: #fff;
}
@keyframes animete {
    100%{
        transform: rotate(360deg);
    }
}
.click-one a{
    display: flex;
    justify-content: center;
    position: relative;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 1;
}
.click-one:hover a{
    color: #000;
}
.container {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background: #929292;
}

.img-fundo {
    width: 50%;
    height: 878px;
    background-image: url(./img/ft-prato.png);
    background-size: cover;
}
.img-fundo h1{
    position: relative;
    top: 0;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 50px;
    color: #fff;
    text-shadow: 0 0 10px #1b8d05;
}
.img-fundo p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #fff;
    text-shadow: 0 0 10px #000;
}
.p1 p{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.img-fundo ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    margin: 30px 50px;
}
.img-fundo ul li{
    margin: 10px 0;
    font-weight: 700;
    text-shadow: 0 0 10px #000;
}
.meio{
    width: 50%;
    height: auto;
    background: rgb(102, 122, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}

.input-group{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group p {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.ender, .ender2{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.ender2{
    margin-bottom: -5px;
    margin-left: 0;
    margin-top: 13px;
    text-align: center;
}
.ender3{
    margin-top: -10px;
}
.ender4{
    margin-bottom: 10px;
}
input{
    width: 230px;
    height: 43px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 15px;
}
select{
    margin-top: 10px;
    width: 230px;
    height: 43px;
    border-radius: 10px;
    font-size: 15px;
}
.text3, .text5{
    width: 100%;
}
.center label{
    display: flex;
    margin: 5px;
}
.number{
    margin: auto;
    margin-top: 15px;
    margin-bottom: -10px;
}
.text6{
    width: 100%;
    height: 160px;
    border-radius: 10px;
    border: none;
    padding: 6px;
    font-size: 15px;
    resize: none;
}
.center2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 0;
}
.button{
    padding: 12px 75px;
    border-radius: 10px;
    border: 3px solid rgb(71, 179, 94);
    background: rgb(71, 179, 94);
    font-size: 20px;
    letter-spacing: 3px;
    font-family: "Bebas Neue", sans-serif;
    transition: 0.5s all;
}
.button:hover{
    background: #fff;
    color: #000;
    border: 3px solid rgb(71, 179, 94);
    box-shadow: 0 0 10px rgb(71, 179, 94);
}

